<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="asd"
			 connectionString="data source = mysql.nethely.hu; database = kanocbeton; user id =kanocbeton; password = 1Pokember"/>
	</connectionStrings>
</configuration>